{% extends bill_base %}
{% load static %}
{% load humanize %}

{% block title %} Hóa đơn: #{{ bill.billno }}{% endblock title %}


{% block content %}
    
    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Số hóa đơn : {{ bill.billno }}</div>

    <!-- <br><br> -->

    <form method="post">
    {% csrf_token %}

        <div class="bg">

            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                    
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">Hóa đơn</p> </td>
                        </tr>
                    
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">ABC</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">Đơn vị bán: abc</span> <br>
                                <span style="font-weight: bold;">Địa chỉ </span> Nguyen Van Linh<br>Ninh Kieu, Can Tho<br>
                                <span style="font-weight: bold;">EMAIL : haule.it.ctu@gmail.com</span> <br><br>
                            </td>
                        </tr>
                    
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">MST - 123456789</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;TÊN KHÁCH HÀNG</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;SỐ HÓA ĐƠN</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;NGÀY</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date|date:"d-m-Y" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" colspan="3">{{ bill.address|linebreaks }}</td>
                                        
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 40%; font-weight: bold; text-align: center;">SẢN PHẨM</td>
                                        <td class="inner-box" style="width: 10%; font-weight: bold; text-align: center;">SỐ LƯỢNG</td>
                                        <td class="inner-box" style="width: 10%; font-weight: bold; text-align: center;">GIÁ/SP</td>
                                        <td class="inner-box" style="width: 10%; font-weight: bold; text-align: center;">TỔNG TIỀN</td>
                                        {% comment %} <td class="inner-box" style="width: 15%; font-weight: bold; text-align: center;">Thành TIỀN</td> {% endcomment %}
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice|intcomma }} VND</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice|intcomma }} VND</td>
                                        </tr>
                                    {% endfor %}
                                
                                    
                                </tbody>
                               
                            </table>
                            {% comment %} {% for i in billdetails %}
                                <tr>
                                    <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">{{i.total}}</td>
                                </tr>
                            {% endfor %} {% endcomment %}
                            
                            </td>
                        </tr>
                        
                        

                        <tr>
                            <td style="text-align: right;">
                                <span style="font-weight: bold;">TÊN CÔNG TY <br><br><br><br> Chữ ký</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">In</button>
            <button class="center btn btn-success" type="submit">Lưu</button>
            <a href="{% url 'sales-list' %}" class="btn center btn-secondary">Danh sách đơn hàng</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}