{% extends bill_base %}
{% load static %}
{% load humanize %}

{% block title %} Sale Bill No : {{ bill.billno }}{% endblock title %}


{% block content %}
    
    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Sale Bill No : {{ bill.billno }}</div>

    <!-- <br><br> -->

    <form method="post">
    {% csrf_token %}

        <div class="bg">

            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                    
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">Hóa đơn</p> </td>
                        </tr>
                    
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">Hau</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">DEALERS IN : Products</span> <br>
                                <span style="font-weight: bold;">Địa chỉ </span> 971 Center Street<br>Umatilla, OR 97882<br>
                                <span style="font-weight: bold;">EMAIL : djangoims@mail.com</span> <br><br>
                            </td>
                        </tr>
                    
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">MST - 123456789CASTR0</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;TÊN KHÁCH HÀNG</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;SỐ HÓA ĐƠN</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;NGÀY</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date|date:"d-m-Y" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;" rowspan="3">{{ bill.address|linebreaks }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;EWAY NO</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="eway" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.eway %}{{ billdetails.eway }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VEH NO</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="veh" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.veh %}{{ billdetails.veh }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DESTINATION</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="destination" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.destination %}{{ billdetails.destination }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;MST : {{ bill.gstin }} </td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;PO NO &amp; DATE</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="po" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}"> </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 40%; font-weight: bold; text-align: center;">SẢN PHẨM</td>
                                        <td class="inner-box" style="width: 10%; font-weight: bold; text-align: center;">SỐ LƯỢNG</td>
                                        <td class="inner-box" style="width: 10%; font-weight: bold; text-align: center;">GIÁ/SP</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">TỔNG TIỀN</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice|intcomma }} VND</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        

                        <tr>
                            <td style="text-align: right;">
                                <span style="font-weight: bold;">FOR COMPANY <br><br><br><br> Signature</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
            <button class="center btn btn-success" type="submit">Save Draft</button>
            <a href="{% url 'sales-list' %}" class="btn center btn-secondary">Go Back</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}